---
---
@import "{{ site.theme }}";
header {
  h1 {
     text-align: center;
  }
  img {
     border-radius: 50%;
  }
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  p.view {
    text-align: left;
  }
}